.home {
    display: flex
}

.navbar {
    height: 80;
     width: 100%;
     justify-content: space-between;
}

.link
{
    text-decoration: none;
    color: inherit;
}
.productContainer {
    display: flex;
    width: 78%;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.filters {
    background-color: #343a40;
    color:ivory;
    padding: 20px;
    display: flex;
    flex-direction:column;
    width: 20%;
    height: 100vh;
}

.filters > span {
    padding-bottom: 20px;
}
.a
{
    text-decoration: none;
    color: inherit;
}

.star {

    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    
}
.cartitem {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 20px;
    margin-bottom: 20px;
}

.cartItemImg {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.cartItemDetail {
    display: flex;
    flex: 1;
    padding: 0 20px;
    flex-direction: column;
}

.filtersfinal {
    background-color: #343a40;
    color:ivory;
    padding: 20px;
    display: flex;
    flex-direction:column;
    width: 20%;
    height: 87vh;

}
.box {background: rgba(6, 82, 10, 0.863); 
    height: 87vh;
    width: 100%;
    display: flex;
    color: black;
    align-items: left;
    
}

.group {
    float:right;
    height: 70px;
    width: 80%;
    margin: 10px;
    column-gap: 30px;
}

@media (max-width: 771px) {
.filters {
    width: 40%;
    padding: 5px;
    margin: 0px;
    height: 100%0;
}

.filters > span {
    font-size: 10px;
}

.title {
    font-size: 10px !important;
}

.productContainer {
    width: 50%;
    padding: 0;
}

.search {
    display: none;
}

.products {
    width: 100%;
}
}